*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  display: flex;
  height: 100vh;
  background-color: #D0D0D0;
}

.content {
  width: 90rem;
  margin: 0 auto;
  display: flex;
  background-color: #D0D0D0;
}

.cover-img {
  position: fixed;
  width: 45rem;
  height: min-content;
  padding: 4.35rem 0;
  display: grid;
  place-content: center;
}

.cover-img img {
  width: 32rem;
  height: 51.5rem;
  border-radius: 1rem;
}

.main-content {
  width: 45rem;
  display: flex;
  flex-direction: column;
  margin: 6.25rem 0;
  margin-left: 45rem;
}

.gilda-display-regular {
  font-family: "Gilda Display", serif;
  letter-spacing: -0.04em;
  font-weight: 400;
  font-style: normal;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: -0.04em;
  font-weight: normal;
  font-style: normal;
}

.book-title {
  font-size: 3.125rem;
}

.author-link {
  all: unset;
}

.author-link:hover, .author:hover {
  cursor: pointer;
  color: #000;
}

.author {
  color: #6A6A6A;
  font-size: 3.125rem;
  margin-top: 0.625rem;
}

.book-description-wrapper {
  /* border: 1px solid red; */
  font-size: 1.25rem;
  width: 39.25rem;
  height: 6.5rem;
  overflow: clip;
  margin-top: 2.5rem;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #B7B7B7;
}

.book-description-wrapper:hover {
  overflow: visible;
  transition: all 500ms;
  height: min-content;
  background-color: #DCDCDC;
}

.book-details {
  display: flex;
  margin-top: 2.5rem;
}

.book-details-table {
  width: 27.5rem;
  height: 10rem;
  border: 1px solid #B7B7B7;
  border-radius: 0.625rem;
  border-spacing: 0;
}

.book-details-table td {
  border: 1px solid #B7B7B7;
  width: 13.75rem;
  text-align: center;
}

.table-text {
  font-size: 1rem;
}

.table-text-pages {
  border-top-left-radius: 0.625rem;
}

.table-text-pages-value {
  border-top-right-radius: 0.625rem;
}

.table-text-lang {
  border-bottom-left-radius: 0.625rem;
}

.table-text-lang-value {
  border-bottom-right-radius: 0.625rem;
}

.gr-link {
  all: unset;
  display: grid;
  place-items: center;
  background-color: #fff;
  border: 1px solid #B7B7B7;
  border-radius: 0.625rem;
  margin-left: 1.25rem;
  width: 10.5rem;
  height: 10rem;
  text-align: center;
}

.gr-icon {
  /* width: 3.5rem; */
  height: 1.5rem;
}

.gr-link:hover {
  cursor: pointer;
  transition: 300ms;
  background: rgb(233,229,204);
  background: linear-gradient(0deg, rgba(233,229,204,1) 45%, rgba(246,246,237,1) 80%);
}

.gr-link:hover .gr-icon {
  content: url(./images/gr_icon_logo.png);
}

.gr-link:active {
  background-color: #000;
}

.sub-title {
  color: #6A6A6A;
  font-size: 1.5rem;
  margin-top: 2.5rem;
}

.recommended-books {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  width: 39.25rem;
  margin-top: 2.5rem;
  padding-bottom: 7rem;
}

.recommended-book {
  width: 11.375rem;
  height: 18.3125rem;
  background-color: white;
  border-radius: 0.3125rem;
}

.rec-book-cover {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  border-radius: 0.3125rem;
}