
*, ::after, ::before {
  color: #000;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.main-body {
  display: grid;
  place-items: center;
  background-color: #D0D0D0;
}

.main {
  width: 90rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}

.title-box {
  width: 600px;
  height: 130px;
  display: grid;
  place-items: center;
  background-color: white;
  border-radius: 34px;
  margin-top: 50px;
}

.gilda-display-regular {
  font-family: "Gilda Display", serif;
  font-weight: 400;
  letter-spacing: -0.04em;
  font-style: normal;
}

.title {
  font-size: 50px;
}

.spotlight-box {
  width: 1240px;
  height: 372px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #E8E8E8;
  margin-top: 20px;
  border-radius: 34px;
}

.spotlight {
  width: 360px;
  text-align: center;
  font-size: 100px;
}

.spotlight-book-cover {
  width: 206px;
  height: 332px;
  background-image: url(./images/image\ 2.jpg);
  background-size: cover;
  border-radius: 5px;
}

.spotlight-book-info {
  width: 360px;
}

.spotlight-book-title {
  font-size: 50px;
}

.spotlight-book-author {
  font-size: 24px;
  color: #5F5F5F;
  margin-top: 5px;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.spotlight-book-desc {
  font-size: 20px;
  margin-top: 20px;
  text-align: justify;
}

.desc-read-more {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

.desc-read-more:hover {
  cursor: pointer;
}

.tags-box {
  width: 1150px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.tag {
  border: unset;
  font-size: 20px;
  padding: 16px 32px;
  border-radius: 15px;
  background-color: white;
}

.tag:hover {
  cursor: pointer;
  background-color: #F0F0F0;
}

/* .tag:active {
  background-color: #000;
  color: white;
} */

.books-view {
  display: grid;
  justify-content: space-evenly;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  width: 1240px;
  border-radius: 34px;
  margin-top: 20px;
  padding: 20px;
  background-color: #E8E8E8;
}

.book {
  width: 224px;
  height: 336px;
  background-color: white;
  border-radius: 25px;
}

/* .genre-btn:active {
  transform: scale(0.90);
}

.genre-btn:hover {
  transition: 250ms;
  cursor: grab;
  color: #1E1E1E;
  background: #d9d9d9;
  border: px solid rgb(0, 0, 0);
} */

/* .books {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
  background-color: #253e70d8;
  border-radius: 24px;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.2);
  width: 70%;
} */

/* .book-cover:hover {
  border: 1px solid #000;
  box-shadow: 0px 0px 10px 10px #1e1e1e7e;
  transform: scale(1.05);
} */


