
*, ::after, ::before {
  color: #000;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* for-phone-only */
  @media (max-width: 599px) { 
    font-size: 8px;
  }

  /* for-tablet-portrait-up */
  @media (min-width: 600px) { 
    font-size: 10px;
  }

  /* for-tablet-portait-only */
  @media (min-width: 600px) and (max-width: 899px) {
    font-size: 12px;
  }

  /* for-tablet-landscape-up */
  @media (min-width: 900px) {
    font-size: 12px;
  }

  /* for-tablet-landscape-only */
  @media (min-width: 900px) and (max-width: 1199px) {
    font-size: 14px;
  }

  /* for-desktop-up */
  @media (min-width: 1200px) {
    font-size: 14px;
  }

  /* for-desktop-only */
  @media (min-width: 1200px) and (max-width: 1799px) {
    font-size: 16px;
  }

  /* for-big-desktop-up */
  @media (min-width: 1800px) { 
    font-size: 16px; 
  }
}

html {
  scroll-behavior: smooth;
}

.main-body {
  display: grid;
  place-items: center;
  background-color: #D0D0D0;
}

.main {
  width: 90rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}

.title-box {
  width: 37.5rem;
  height: 8.125rem;
  display: grid;
  place-items: center;
  background-color: white;
  border-radius: 2rem;
  margin-top: 3.125rem;
}

.gilda-display-regular {
  font-family: "Gilda Display", serif;
  font-weight: 400;
  letter-spacing: -0.04em;
  font-style: normal;
}

.title {
  font-size: 3.125rem;
}

.spotlight-box {
  width: 77.5rem;
  height: 23.25rem;
  display: flex;
  align-items: safe;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #E8E8E8;
  margin-top: 1.25rem;
  border-radius: 2rem;
  overflow: hidden;
}

.spotlight, .spotlight-book-link, .spotlight-book-info {
  align-self: center;
}

.spotlight {
  width: 22.5rem;
  text-align: center;
  font-size: 6.25rem;
}

.spotlight-book-cover {
  width: 12.875rem;
  height: 20.75rem;
  /* background-image: url(./images/image2.jpg); */
  background-size: cover;
  border-radius: 0.313rem;
}

.spotlight-book-info {
  width: 22.5rem;
}

.spotlight-book-title {
  width: 22.5rem;
  white-space: nowrap;
  font-size: 3.125rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spotlight-book-author {
  font-size: 1.5rem;
  color: #5F5F5F;
  /* height: 10rem; */
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.313rem;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.spotlight-book-desc {
  font-size: 1.25rem;
  height: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 1.25rem;
  text-align: justify;
}

.desc-read-more {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

.desc-read-more:hover {
  cursor: pointer;
}

.tags-box {
  width: 71.875rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
}

.tag {
  border: unset;
  font-size: 1.25rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: white;
}

.tag:hover {
  cursor: pointer;
  background-color: #F0F0F0;
}

.tag:active {
  background-color: #000;
  color: white;
}

.books-view {
  display: grid;
  justify-content: space-evenly;
  gap: 1.25rem;
  grid-template-columns: repeat(5, 1fr);
  width: 77.5rem;
  border-radius: 2.125rem;
  margin: 1.25rem 0 6.25rem 0;
  padding: 1.25rem;
  background-color: #E8E8E8;
}

.book {
  width: 14rem;
  height: 21rem;
  background-color: white;
  border-radius: 1.563rem;
}

.book-cover {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  border-radius: 1.563rem;
}

/* .genre-btn:active {
  transform: scale(0.90);
}

.genre-btn:hover {
  transition: 250ms;
  cursor: grab;
  color: #1E1E1E;
  background: #d9d9d9;
  border: px solid rgb(0, 0, 0);
} */

/* .books {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
  background-color: #253e70d8;
  border-radius: 24px;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.2);
  width: 70%;
} */

/* .book-cover:hover {
  border: 1px solid #000;
  box-shadow: 0px 0px 10px 10px #1e1e1e7e;
  transform: scale(1.05);
} */


